@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*-- scss:defaults --*/


// Colors
$dark-green: #06402b;
$green: #04d98c;
$light-green: #05f29c;
$blue: #375a7f;
$bright-blue: #0d6efd;
$light-blue: #7ea7d8;
$cream: #FDFBF7;
$gray: #64605f;
$purple: #9158A2;
$orange: #f99820;
$dark-orange: #f57f17;
$white: #FFFFFF;
// $maroon:#7a0019;
$maroon:#8B322C;
$light-maroon: #DD5746;
$light-yellow:#fffec8;
$black: #000000;
$grey: #666667;
$red: #900021;

// Base font size
$font-size-base: 1.8rem !default;
$font-size-h2: 2.6rem !default;
$font-size-h3: 2rem !default;


// Base document colors
// $link-color: $light-green;
// $link-hover-color: $bright-blue;
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Fira Mono', monospace;

$presentation-title-slide-text-align: left;

// Block code
$monokai-bg: #2e3440;


/*-- scss:rules --*/
// h2 {
//   color: $blue !important;
// }

// panel.tabset ----------------------------
// default tab text color
a[role="tab"] {
  color: $grey;
}

// active tab
a[aria-selected="true"]{
  color: $light-maroon;
}

// fill color of the tab when it's hovered
a:hover {
  background-color: $light-yellow;
}


// Header ----------------------------

.reveal h2 {
  // font-size: 2rem;
  font-size: $font-size-h2;
  color: $bright-blue !important;
}

// .reveal h2 code {
//   font-size: 1.8rem;
// }

.reveal h3 {
  font-size: $font-size-h3;
  color: $light-maroon !important;
}


// call-out box configurations
.reveal .callout.callout-style-default div.callout-title {
  font-size: 1.5rem;
}

.reveal .callout.callout-style-default div.callout-content {
  font-size: 1.5rem;
}

.content-box-blue {
  background-color: #F0F8FF;
}

.content-box-gray {
  background-color: #e2e2e2;
}

.content-box-grey {
  background-color: #F5F5F5;
}

.content-box-army {
  background-color: #737a36;
}

.content-box-green {
  background-color: #d9edc2;
}

.content-box-purple {
  background-color: #e2e2f9;
}

.content-box-red {
  background-color: #ffcccc;
}

.content-box-yellow {
  background-color: #fef5c4;
}

// Code configurations ----------------------------

// code in a regular R code chunk
code.sourceCode.r {
  font-size: 1.2rem;
  background-color: #F0F8FF;
}

code in an webr code chunk 
.reveal .mtk1{
  font-size: 0.8rem;
}

// results of running codes
pre div code {
  font-size: 1rem;
}

// results of running codes in a regular r code chunk
div.cell-output.cell-output-stdout pre code {
  font-size: 1rem;
  background-color: #f8f2f6;
}


// results of running codes in an webr code chunk
div.qwebr-output-code-area pre {
  background-color: #f8f2f6;
}


.code-output-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}

.code-block, .output-block {
  width: 48%;
}

.code-block {
  border-right: 1px solid #ccc;
  padding-right: 10px;
}

.output-block {
  padding-left: 10px;
}


// webR stuff
.qwebr-output-code-area {
  margin-top: 1em;
}

.magic-block {
  font-style: normal;
  user-select: none;
  padding: 0 0.1em 0 0.15em;
  line-height: 1;
  font-size: 120%;
}


//====  Custome callout box 1 (stop and think) ====//
.stopthink {
  margin: 1em 0;
  border: 1px solid gray;
  border-left: 10px solid $green; 
  border-radius: 10px;
}

.stopthink-header {
  margin-left: 0em;
  padding-left: 60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: $light-green;
  border-top-right-radius: 10px;
  font-size: $font-size-base;
  font-weight: 600;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("/z_image/two-overlapping-speech-bubbles-icon.png");
  height: 1.4em;
}

.stopthink-container {
  padding-left: 20px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.stopthink-header p {
  margin-top: 0.1rem;
}



// Another custom callout box here
// https://www.andreashandel.com/posts/2023-06-13-custom-callouts-quarto/
// ==== callout box "idea box" ==== //
// Custome callout box 1 (stop and think)
// This defines frame for the callout box
.ideas {
  margin: 1em 0;
  border: 1px solid gray;
  border-left: 10px solid $blue; 
  border-radius: 10px;
}

.ideas-header {
  margin-left: 0em;
  padding-left: 60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: $light-blue;
  border-top-right-radius: 10px;
  font-size: $font-size-base;
  font-weight: 600;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("/z_image/electricity-icon.png");
  height: 1.4em;
}

.ideas-container {
  padding-left: 20px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.ideas-header p {
  margin-top: 0.1rem;
}

// ==== callout box "goals" ==== //
.goals {
  margin: 1em 0;
  border: 1px solid gray;
  border-left: 10px solid $dark-orange; 
  border-radius: 10px;
}

.goals-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: $orange;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("/z_image/challenge-target-icon.png");
  height: 1.6em;
}

.goals-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.goals-header p {
  margin-top: 0.3rem;
}





